*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blur,
.main,
.particles{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.blur{
/* 	  background-color: #212121; */
    background-image: url("/resource/omen-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
	  transform: scale(1.2);
/*     animation: bg 8s linear infinite alternate; */

}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 100;
}
img {
    top: 1px;
}

.active {
    color: red !important;
}
.title{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 34px;
    letter-spacing: 14px;
    padding: 12.5px 25px;
    text-shadow: 1px 1px 10px black;
    color: white;
}

.content {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    font-weight: 100;
    padding: 12.5px 25px;
    text-shadow: 1px 1px 10px black;
    color: white;
    letter-spacing: 3px;
}
.content-box {
    border: 2px solid rgba( 255, 255, 255, .5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
    z-index: 220;
}
.particles{
    position: absolute;
    z-index: 200;
    overflow: hidden;
    
}
.sidebar {
    position: absolute;
    display: flex;
    z-index: 201;
    overflow: hidden;
    font-family:'Times New Roman', Times, serif;
    justify-content: center;
    background-color: rgba(0,0,0,0.1);
    width: 100vw;
    font-size: 20px;
}
footer {
    position:absolute;
    bottom: 0;
    display: flex;
    z-index: 201;
    overflow: hidden;
    font-family:'Times New Roman', Times, serif;
    justify-content: center;
    background-color: rgba(0,0,0,0.2);
    width: 100vw;
    font-size: 20px;
}

.sidebar a{
  text-decoration: none;
  padding: 15px;
  color: whitesmoke;
}

.sidebar a:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  color: red;
  text-decoration: none;
}

.particle{
    border-radius: 50%;
    filter: blur(3px);
    position: absolute;
}
@keyframes bg {
    0%{ transform: scale(1.2);}
    100%{ transform: scale(1.3);}
}
@keyframes move {
    0%{
        transform: translateX(0);
        opacity: 0;
    }
    10% ,90%{
        opacity: 1;
    }
    100%{
        transform: translateX(45vw);
        opacity: 0;
    }
}
.sidebar img {
    width: 80px;
    height: 70px;
    position: absolute;
    left: 20px;
}
