.info-graphic {
    width: 98.3vw;;
    height: auto;
}

.darkened-image {
    filter: brightness(0.7);
}
body {
    font-family:     arial, Georgia, 'Times New Roman', Times, serif;
}

@media (max-width:770px){
    h1 {
        font-size: 170%;
    }
}
.sidebar {
    position: absolute;
    display: flex;
    z-index: 201;
    overflow: hidden;
    font-family:'Times New Roman', Times, serif;
    justify-content: center;
    background-color: rgba(0,0,0,0.1);
    width: 100vw;
    font-size: 20px;
}