body {
    padding: 20px;
  }
  
  .container {
    display: grid;
    height: 100vh;
    width: 80%;
    margin: 0 auto;

  
    grid-template-areas: 
    "header header header"
    "sidebar video video"
    "sidebar video video"
    "footer footer footer";
  
    column-gap: 10px;
    row-gap: 10px;
  }
  
  .item {
    background-color: gold;
    border: 1px solid grey;
    min-height: 50px;
    padding: 20px;
    font-size: 20px;
  }
  
  .item-1 {
    grid-area: header;
  }
  
  .item-2 {
    grid-area: sidebar;
  }
  
  .item-3 {
    grid-area: video;
  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5px;
    row-gap: 5px;
  }
  
  .item-4 {
    grid-area: footer;
  }
  
  .article {
    border: 5px solid rgb(255, 0, 106);
  }